<?xml version="1.0" encoding="utf-8" ?>
<config>
  <!-- 用户角色配置 -->
  <role>
    <name>管理组</name>
    <value>0,1,2</value>
  </role>
  <!-- 网站图片水印设置 -->
  <waterImage>
    <isWater>true</isWater>
    <path>/App_Data/water.png</path>
  </waterImage>
  <!-- 日志记录 -->
  <log>
    <isOpen>true</isOpen>
  </log>
  <cache>
    <dir>/App_Data/Cache/</dir>
  </cache>
</config>