article
{
    padding:10px;
}
.article .content
{
    font-size:14px;
    line-height:1.8;
}

.article .content p
{
    text-indent:2em;
    margin:10px 0;
}
.article .articleTitle
{
    border-bottom:1px dashed #ccc;
}

.article .articleTitle h1
{
    font-family: '微软雅黑';
    font-size: 26px;
    padding-bottom: 16px;
    text-align:center;
}

.article .articleTitle div
{
    text-align:right;
    margin-bottom:5px;
    padding-right:5px;
}